.aa{
    width: 150px;
}
.bk{
    margin-left: 600px;
}
.cc{
    margin-left: 10px;
}
.ee{
    color: green;
}
.bb{
    width: 400px;
    margin-left: 50px;
}
.vv{
    margin-top: 50px;
}
.rr{
    background-color: #f0fff0;
}
.nn{
    width: 80px;
    margin-left: 40px;
    margin-top: 25px;
}
.cd{
    background-color: #f0fff0;
    margin-left: 50px;
    
}
.yy{
    margin-left: 15px;
}
.pc{
    box-shadow: #f0fff0 5px 5px 5px 5px;
    margin-left: 80px;
}
.cv{
    background-color: #f0fff0;
    margin-left: 80px;
}
.qq{
    text-align: center;
    margin-top: 50px;
}
.gf{
    width: 100px;
    margin-left: 250px;
}
.bf{
    text-align: center;
    margin-top: 40px;
}
.hf{
    margin-top: 35px;
}
.kg{
    width: 20px;
}
.nk{
    margin-left: 40px;
}
.gk{
    width: 20px;
    margin-left: 80px
}
.vu{
    border-radius: 20px;
}
.by{
    color: white;
    margin: 5%;
}
.se{
    background-color: black;

}
.dy{
    margin: 10px;
    margin-top: 70px;
    
}
.uk{
    text-align: center;
    color: white;
    margin-bottom: 50px;
}